body {
  background-color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-weight: bold;
  color: #333;
}

.table {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
